/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

/*   Utilities Classes */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
    background-color: #FF900E;
    cursor: pointer;
}

.section-padding {
    padding: 65px 0;
}

.title {
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;
    line-height: 53px;
}

.desc {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

/* Header Section Start  */

.header {
    background-color: rgba(255, 144, 14, 0.2);
    margin-bottom: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar .logo {
    color: #131313;
    font-weight: 700;
    font-size: 35px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    padding: 12px 25px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}


/* Header Section End  */


/* Banner Section Start  */

.banner {
    padding-top: 110px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.banner-content {
    width: 865px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.banner-content .banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;
    line-height: 75px;
}

.banner-content .banner-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}

.banner img {
    width: 100%;
    margin: 50px 0 35px;
}

/* Banner Section End  */

/* Team Section Start  */

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
}

.team-container .team-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.team-container .team-imgs img {
    width: 100%;
}


.team-container .team-content .title .col1 {
    color: #727272;
}

.team-container .team-content .title .col2 {
    color: #FF900E;
}

.team-container .team-content .desc {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

/* Team Section End  */


/* Features Section Start  */

.features-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.features-container .features-content {
    flex-basis: 45%;
}

.features-container .features-content .title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.features-container .features-content .content {
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.features-container .features-content .content .desc {
    margin-bottom: 0px;
}

.features-container .features-content .content .content-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.features-container .features-img {
    flex-basis: 45%;
    position: relative;
}

.features-container .features-img .btn .word1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    display: block;
}

.features-container .features-img .btn {
    position: absolute;
    left: -75px;
    bottom: -45px;
}

.features-container .features-img .btn .word2 {
    font-weight: 500;
    font-size: 25px;
    display: block;
}

.features-container .features-img img {
    width: 100%;
}

/* Features Section End  */


/* Facts Section Start  */


.facts-boxs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 80px 0 0px;
    text-align: center;
    gap: 60px;
}

.facts-boxs .box {
    padding: 40px 50px;
    border: 1px solid #FF900E;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.facts-boxs .box:hover img {
    transform: scale(1.4);
}

.facts-boxs .box:hover {
    background-color: #FFE9CF;
}

.facts-boxs .box h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin: 10px 0;
}

.facts-boxs .box p {
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* Facts Section End */


/* Testimonial Section Start  */

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 60px;
}

.testimonial {
    padding: 40px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.testimonial:hover .info img {
    transform: scale(1.3);
}

.testimonial .info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.testimonial .info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
}

.testimonial .info .content h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #131313;
}

.testimonial .info .content p {
    font-size: 20px;
    font-weight: 400;
    color: #727272;
}

.testimonial .message {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}

/* Testimonial Section End  */


/* Sponsor Section Start   */

.sponsor-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.sponsor-imgs img {
    filter: grayscale(100%);
    cursor: pointer;
}

.sponsor-imgs img:hover {
    filter: grayscale(0);
}

/* Sponsor Section End  */


/* Footer Section Start  */

.footer {
    margin-bottom: 100px;
}

.footer .copyrights p {
    text-align: center;
    color: #424242;
    font-size: 18px;
    padding: 30px 20px;
    background-color: #FFF4E7;
}

/* Footer Section End  */




/* Media Queries  */


@media screen and (max-width:688px) {
    .container {
        padding: 0 15px;
    }

    .title {
        font-size: 28px;
        line-height: 38px;
    }



    .desc {
        font-size: 14px;
    }

    .section-padding {
        padding: 30px 0;
    }

    .btn {
        padding: 12px 16px;
        font-size: 16px;
    }

    .navbar .logo {
        font-size: 24px;
    }

    .navbar ul li a {
        font-size: 16px;
        padding: 12px 14px;
    }

    .navbar {
        position: relative;
    }

    .navbar ul {
        /* display: block; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
    }

    .navbar ul li:nth-child(2) {
        display: none;
    }

    .navbar ul li {
        margin-bottom: 5px;
    }

    /* .banner {
        padding-top: 60px;
    } */

    .banner-content {
        width: 100%;
    }

    .banner-content .banner-title {
        font-size: 32px;
        line-height: 42px;
    }

    .team-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .team-container .team-imgs {
        gap: 10px;
    }

    .features-container {
        flex-direction: column;
    }

    .features-container .features-img .btn {
        left: 20px;
        bottom: 20px;
    }

    .features-container .features-img .btn .word1 {
        font-size: 25px;
        line-height: 36px;
    }

    .features-container .features-img .btn .word2 {
        font-size: 18px;
    }

    .facts-boxs {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 60px 0 0px;
        gap: 30px;
    }

    .facts-boxs .box {
        padding: 20px 10px;
    }

    .facts-boxs .box img {
        height: 35px;
        width: 35px;
    }

    .facts-boxs .box h2 {
        font-size: 26px;
        line-height: 34px;
    }

    .facts-boxs .box p {
        font-size: 16px;
    }

    .testimonial .info {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .team-container .team-imgs {
        order: 2;
    }


    .testimonial .info img {
        margin-right: 0;
        height: 60px;
        width: 60px;
        margin-bottom: 20px;
    }

    .testimonial .info .content h2 {
        font-size: 22px;
    }

    .testimonial .info .content p {
        font-size: 16px;
    }

    .testimonial-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .sponsor-imgs {
        justify-content: center;
    }

    .sponsor-imgs img {
        width: 100px;
        height: auto;
    }

    .footer {
        margin-bottom: 50px;
    }

    .footer .copyrights p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (min-width:689px) and (max-width:992px) {
    .title {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-content {
        width: 100%;
    }

    .navbar ul li a {
        font-size: 16px;
        padding: 12px 14px;
    }

    .banner-content .banner-title {
        font-size: 50px;
        line-height: 60px;
    }

    .team-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .team-container .team-imgs {
        order: 2;
    }

    .features-container .features-img .btn {
        left: 40px;
        bottom: 40px;
    }

    .features-container {
        flex-direction: column;
    }

    .facts-boxs .box {
        padding: 20px 30px;
    }

    .facts-boxs .box h2 {
        font-size: 35px;
    }

    .facts-boxs .box p {
        font-size: 18px;
    }

    .features-container .features-img .btn .word1 {
        font-size: 35px;
        line-height: 45px;
    }

    .features-container .features-img .btn .word2 {
        font-size: 20px;
    }

    .testimonial-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .sponsor-imgs {
        justify-content: center;
    }
}

@media screen and (min-width:993px) and (max-width:1250px) {
    .container {
        max-width: 95%;
    }
}